[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
privex-helpers = "*"
privex-loghelper = "*"
python-dotenv = "*"
privex-jsonrpc = "*"
redis = "*"
gunicorn = "*"
quart = "*"
hypercorn = "*"
flask-cors = "*"
quart-cors = "*"
httpx = "*"

[requires]
python_version = "3.7"
